In [1]:
import numpy as np
import pandas as pd

from utils import load_rnn_data, time_series_cv

In [2]:
# set configuration
path = "../features/features_binary_tract_2H.feather"
window = 12
predict_ts = 1

In [3]:
# load data as x and y of RNN
x_all, y_all, geo_ids, y_datetime  = load_rnn_data(path, window, predict_ts)

100%|██████████| 195/195 [00:37<00:00,  3.69it/s]

In [4]:
# evaluate log loss and accuracy based on time series cross validation
train_scores_df, test_scores_df, y_test_preds = time_series_cv(x_all,
                                                               y_all,
                                                               n_splits=5,
                                                               model=None,
                                                               fit_params=None,
                                                               baseline=True)

---------- split 0 ----------
[17:25:43] train_index:0~3099 test_index:3100~6199
[17:25:45] train_log_loss:3.7914609505286054 test_log_loss:2.744732641319857
[17:25:45] train_acc:0.8902259620555845 test_acc:0.9205318506383366

---------- split 1 ----------
[17:25:45] train_index:0~6199 test_index:6200~9299
[17:25:47] train_log_loss:3.267798179800001 test_log_loss:2.880874763878297
[17:25:47] train_acc:0.9053875521692911 test_acc:0.9165901324662216

---------- split 2 ----------
[17:25:47] train_index:0~9299 test_index:9300~12399
[17:25:49] train_log_loss:3.138861934241693 test_log_loss:3.137727282256813
[17:25:49] train_acc:0.9091206388335111 test_acc:0.9091534903732387

---------- split 3 ----------
[17:25:49] train_index:0~12399 test_index:12400~15499
[17:25:54] train_log_loss:3.1386966000817376 test_log_loss:3.453963371306283
[17:25:54] train_acc:0.909125425747734 test_acc:0.8999975178097153

---------- split 4 ----------
[17:25:54] train_index:0~15499 test_index:15500~18599
[17:26:00] train_log_loss:3.201634023450785 test_log_loss:3.6321712378626256
[17:26:00] train_acc:0.9073032007027748 test_acc:0.8948378716045705

In [8]:
train_scores_df

        acc  log_loss
0  0.890226  3.791461
1  0.905388  3.267798
2  0.909121  3.138862
3  0.909125  3.138697
4  0.907303  3.201634

In [7]:
test_scores_df

        acc  log_loss
0  0.920532  2.744733
1  0.916590  2.880875
2  0.909153  3.137727
3  0.899998  3.453963
4  0.894838  3.632171

In [12]:
y_test_preds.sum()

1.4398609856192393e-308